.tooltip {

  text-align: center;
  text-anchor: middle;
  font-size: 12px ;
  pointer-events: none;
}

.tag{
  font-family:'Helvetica';
  fill:blue;
  text-anchor:start;
  cursor: pointer;
}
.tag:hover{
  fill: red;
}
